.container {
  margin: 0 auto;
  max-width: 100%;
  .blog-homepage {
    max-width: 100%;
    display: flex;
    position: relative;
  }
  .about {
    display: flex;
    justify-content: flex-end;
  }
  .blog-service {
    padding: 80px 312px;
  }
  .blog-featured-posts {
    padding: 80px 312px;
  }
  .blog-projects {
    padding: 80px 312px;
    border: 1px solid $lcb-slategray;
    .presentation-about {
      display: flex;
      align-items: center;
    }
  }
  .blog-detail-homepage {
    display: flex;
    align-items: center;
    border: 1px solid $lcb-slategray;
  }
  .blog-detail {
    padding: 80px 312px;
    max-width: 100%;
    border: 1px solid $lcb-slategray;
  }
  .blog-detail-main {
    padding: 80px 635px;
    border: 1px solid $lcb-slategray;
  }
  .blog-subscription {
    max-width: 100%;
    display: flex;
    position: relative;
  }
  .blog-contact {
    padding: 80px 312px;
    border: 1px solid $lcb-slategray;
  }
  footer {
    .topbox {
      display: flex;
      justify-content: space-between;
      padding: 80px 312px;
    }
    .copyright {
      text-align: center;
      padding: 24px 0;
    }
  }
}
@media (max-width: 1600px) {
  .container {
    .blog-detail-main {
      padding: 64px 450px;
    }
  }
}
@media (max-width: 1024px) {
  .container {
    .blog-homepage {
      flex-direction: column;
    }
    .blog-detail-homepage {
      flex-direction: column;
    }
    .blog-detail {
      padding: 0;
      max-width: 100%;
    }
    .blog-detail-main {
      padding: 64px 12px;
    }
    footer {
      .topbox {
        display: none;
      }
    }
  }
}
