nav {
  padding: 24px 80px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  a {
    font-size: $fs-5;
    margin-right: 20px;
    color: #000000;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  max-width: 30%;
  margin: 40px 12px;
  time {
    display: block;
  }
  &-text {
    &-lg {
      font-size: $fs-5;
      font-weight: 700;
    }
    &-me {
      font-size: $fs-3;
      font-weight: 500;
    }
    &-sm {
      font-size: $fs-1;
      color: $fc-darkgray;
    }
    &-line-clamp {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  &-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    color: $lcb-slategray;
  }
  &-btn-blue {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid $fc-blue;
    border-radius: 40px;
    background-color: $fc-blue;
    color: #ffffff;
  }
}
.blog-detail-homepage {
  .card {
    padding: 80px 312px 80px 12px;
    max-width: none;
    margin: 0;
  }
}
.blog-post {
  margin-bottom: 48px;
  img {
    margin-bottom: 24px;
  }
  .textbox {
    margin-bottom: 24px;
  }
  .tipbox {
    background-color: #ededed;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
    &-text {
      font-size: $fs-1;
      font-weight: 700;
    }
  }
  .title {
    font-size: $fs-5;
    color: $fc-blue;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .title2 {
    font-size: $fs-2;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .title3 {
    font-size: $fs-1;
    font-weight: 500;
  }
  .text {
    font-size: $fs-1;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .lists {
    text-indent: -1.5em;
    padding-left: 1.5em;
  }
  .list {
    font-size: $fs-1;
    font-weight: 500;
    span {
      color: $fc-blue;
    }
    &-ol {
      list-style: decimal inside none;
    }
    &-ul {
      list-style: disc inside none;
    }
  }
}
.blog-posts-btn-grop {
  display: flex;
  justify-content: space-between;
  .blog-posts-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    color: $fc-darkgray;
  }
}
.btn-group-section {
  text-align: center;
  margin-bottom: 80px;
  .btn-group {
    display: inline;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: 40px;
    .btn {
      border: none;
      background: none;
      width: 40px;
      height: 40px;
      color: $fc-darkgray;
    }
  }
}
@media (max-width: 1440px) {
  .blog-detail-homepage {
    .card {
      padding: 0;
      margin: 20px;
    }
  }
  .card {
    max-width: 45%;
  }
}
@media (max-width: 1024px) {
  .card {
    max-width: 100%;
  }
}
@media (max-width: 414px) {
  nav a {
    font-size: $fs-4;
  }
}
