nav {
  padding: 24px 80px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  a {
    font-size: $fs-5;
    margin-right: 20px;
    color: #000000;
  }
}
.text {
  font-size: $fs-1;
  font-weight: 500;
  margin-bottom: 12px;
}
.icon {
  display: flex;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  max-width: 30%;
  margin: 40px 12px;
  time {
    display: block;
  }
  &-text {
    &-lg {
      font-size: $fs-5;
      font-weight: 700;
    }
    &-me {
      font-size: $fs-3;
      font-weight: 500;
    }
    &-sm {
      font-size: $fs-1;
      color: $fc-darkgray;
    }
    &-line-clamp {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  &-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    color: $lcb-slategray;
  }
  &-btn-blue {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid $fc-blue;
    border-radius: 40px;
    background-color: $fc-blue;
    color: #ffffff;
  }
}
.title-index {
  font-size: $fs-8;
  font-weight: 700;
  margin-bottom: 64px;
}
.service-cards {
  padding: 0 110px;
}
.service-card {
  width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: center;
  img {
    max-width: 60%;
  }
  .textbox {
    max-width: 40%;
    padding: 24px;
    height: fit-content;
    background-color: #ffffff;
    &-right {
      margin-left: -5%;
    }
    &-left {
      margin-right: -5%;
      z-index: 1;
    }
    .title {
      font-size: $fs-5;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
}
.presentation-about-cards {
  margin-left: 25px;
}
.presentation-about-card {
  padding: 80px 40px;
  height: fit-content;
  max-width: 100%;
  .text {
    font-weight: 700;
    font-size: $fs-1;
    span {
      color: $fc-blue;
    }
  }
  &-up {
    background-color: #ffffff;
    margin-left: -30%;
  }
  &-down {
    background-color: #f5f5f5;
    margin-top: -10%;
    .text {
      margin-bottom: 24px;
    }
    .card-btn {
      border-color: $fc-blue;
      color: $fc-blue;
    }
  }
}
.presentation-cards {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
  padding: 24px 0;
  background-color: #f5f5f5;
}
.presentation-card {
  .check {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $fc-darkgray;
    margin-bottom: 16px;
    label {
      margin-bottom: 12px;
    }
  }
  .title {
    font-size: $fs-3;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .text {
    font-size: $fs-1;
    font-weight: 500;
    color: $fc-darkgray;
  }
  .card-btn {
    color: $fc-darkgray;
    font-size: $fs-1;
  }
}
.blog-post {
  margin-bottom: 48px;
  img {
    margin-bottom: 24px;
  }
  .textbox {
    margin-bottom: 24px;
  }
  .tipbox {
    background-color: #ededed;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
    &-text {
      font-size: $fs-1;
      font-weight: 700;
    }
  }
  .title {
    font-size: $fs-5;
    color: $fc-blue;
    font-weight: 700;
    margin-bottom: 24px;
    &2 {
      font-size: $fs-2;
      font-weight: 700;
      margin-bottom: 12px;
    }
    &3 {
      font-size: $fs-1;
      font-weight: 500;
    }
  }
  .lists {
    text-indent: -1.5em;
    padding-left: 1.5em;
  }
  .list {
    font-size: $fs-1;
    font-weight: 500;
    span {
      color: $fc-blue;
    }
    &-ol {
      list-style: decimal inside none;
    }
    &-ul {
      list-style: disc inside none;
    }
  }
}
.blog-posts-btn-grop {
  display: flex;
  justify-content: space-between;
  .blog-posts-btn {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    color: $fc-darkgray;
  }
}
.btn-group-section {
  text-align: center;
  margin-bottom: 80px;
  .btn-group {
    display: inline;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: 40px;
    .btn {
      border: none;
      background: none;
      width: 40px;
      height: 40px;
      color: $fc-darkgray;
    }
  }
}
.carousel-wrapper {
  position: relative;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
}
.custom-next {
  right: 0;
}

@media (max-width: 1440px) {
  .blog-detail-homepage {
    .card {
      padding: 0;
      margin: 20px;
    }
  }
  .card {
    max-width: 45%;
  }
}
@media (max-width: 1270px) {
  .card {
    max-width: 100%;
  }
}
@media (max-width: 414px) {
  nav {
    padding: 24px 60px;
    a {
      font-size: $fs-4;
    }
  }
}
