@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans TC", sans-serif !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}
.container .blog-homepage {
  max-width: 100%;
  display: flex;
  position: relative;
}
.container .about {
  display: flex;
  justify-content: flex-end;
}
.container .blog-service {
  padding: 80px 312px;
}
.container .blog-featured-posts {
  padding: 80px 244px;
}
.container .blog-projects {
  padding: 80px 312px;
  border: 1px solid #6c757d;
}
.container .blog-projects .presentation-about {
  display: flex;
  align-items: center;
}
.container .blog-detail-homepage {
  display: flex;
  border: 1px solid #6c757d;
}
.container .blog-detail {
  padding: 80px 312px;
  max-width: 100%;
  border: 1px solid #6c757d;
}
.container .blog-detail-main {
  padding: 80px 635px;
  border: 1px solid #6c757d;
}
.container .blog-subscription {
  max-width: 100%;
  display: flex;
  position: relative;
}
.container .blog-contact {
  padding: 80px 312px;
  border: 1px solid #6c757d;
}
.container footer .topbox {
  display: flex;
  justify-content: space-between;
  padding: 80px 312px;
}
.container footer .copyright {
  text-align: center;
  padding: 24px 0;
}

@media (max-width: 1600px) {
  .container .blog-detail-main {
    padding: 64px 400px;
  }
  .container .blog-service {
    padding: 80px 100px;
  }
  .container .blog-featured-posts {
    padding: 80px 100px;
  }
  .container .blog-projects {
    padding: 80px 100px;
  }
}
@media (max-width: 1440px) {
  .container .blog-detail-main {
    padding: 64px 12px;
  }
  .container .blog-detail {
    padding: 80px 200px;
  }
  .container .blog-projects .presentation-about {
    flex-direction: column;
  }
  .container .blog-contact {
    padding: 80px 180px;
  }
  .container footer .topbox {
    justify-content: center;
  }
  .container footer .topbox .icon {
    display: none;
  }
}
@media (max-width: 1024px) {
  .container .blog-homepage {
    flex-direction: column;
  }
  .container .blog-detail-homepage {
    flex-direction: column;
  }
  .container .blog-detail {
    padding: 0;
    max-width: 100%;
  }
  .container .blog-detail-main {
    padding: 64px 12px;
  }
  .container .blog-service {
    padding: 64px 12px;
  }
  .container .blog-featured-posts {
    padding: 64px 12px;
  }
  .container .blog-projects {
    padding: 64px 12px;
  }
  .container .blog-contact {
    padding: 64px 12px;
  }
  .container .blog-subscription {
    flex-direction: column;
  }
  .container footer .topbox {
    display: none;
  }
  .container footer .topbox .icon {
    display: none;
  }
}
nav {
  padding: 24px 80px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
nav a {
  font-size: 28px;
  margin-right: 20px;
  color: #000000;
}

.text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.icon {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  max-width: 30%;
  margin: 40px 12px;
}
.card time {
  display: block;
}
.card-text-lg {
  font-size: 28px;
  font-weight: 700;
}
.card-text-me {
  font-size: 24px;
  font-weight: 500;
}
.card-text-sm {
  font-size: 16px;
  color: #4b4b4b;
}
.card-text-line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.card-btn {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 40px;
  display: inline-block;
  color: #6c757d;
}
.card-btn-blue {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #0027d5;
  border-radius: 40px;
  background-color: #0027d5;
  color: #ffffff;
}

.title-index {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 64px;
}

.service-cards {
  padding: 0 110px;
}

.service-card-right,
.service-card-left {
  width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: center;
}
.service-card-right img,
.service-card-left img {
  max-width: 60%;
}
.service-card-right .textbox,
.service-card-left .textbox {
  max-width: 40%;
  padding: 24px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
}
.service-card-right .textbox-right,
.service-card-left .textbox-right {
  margin-left: -5%;
}
.service-card-right .textbox-left,
.service-card-left .textbox-left {
  margin-right: -5%;
  z-index: 1;
}
.service-card-right .textbox .title,
.service-card-left .textbox .title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.presentation-about-cards {
  margin-left: 25px;
}

.presentation-about-card {
  padding: 80px 40px;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
}
.presentation-about-card .text {
  font-weight: 700;
  font-size: 16px;
}
.presentation-about-card .text span {
  color: #0027d5;
}
.presentation-about-card-up {
  background-color: #ffffff;
  margin-left: -30%;
}
.presentation-about-card-down {
  background-color: #f5f5f5;
  margin-top: -10%;
}
.presentation-about-card-down .text {
  margin-bottom: 24px;
}
.presentation-about-card-down .card-btn {
  border-color: #0027d5;
  color: #0027d5;
}

.presentation-cards {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
  padding: 24px 0;
  background-color: #f5f5f5;
}

.presentation-card .check {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #4b4b4b;
  margin-bottom: 16px;
}
.presentation-card .check label {
  margin-bottom: 12px;
}
.presentation-card .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.presentation-card .text {
  font-size: 16px;
  font-weight: 500;
  color: #4b4b4b;
}
.presentation-card .card-btn {
  color: #4b4b4b;
  font-size: 16px;
}

.blog-post {
  margin-bottom: 48px;
}
.blog-post img {
  margin-bottom: 24px;
}
.blog-post .textbox {
  margin-bottom: 24px;
}
.blog-post .tipbox {
  background-color: #ededed;
  padding: 24px;
  border-radius: 24px;
  margin-bottom: 24px;
}
.blog-post .tipbox-text {
  font-size: 16px;
  font-weight: 700;
}
.blog-post .title {
  font-size: 28px;
  color: #0027d5;
  font-weight: 700;
  margin-bottom: 24px;
}
.blog-post .title2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.blog-post .title3 {
  font-size: 16px;
  font-weight: 500;
}
.blog-post .lists {
  text-indent: -1.5em;
  padding-left: 1.5em;
}
.blog-post .list {
  font-size: 16px;
  font-weight: 500;
}
.blog-post .list span {
  color: #0027d5;
}
.blog-post .list-ol {
  list-style: decimal inside none;
}
.blog-post .list-ul {
  list-style: disc inside none;
}

.blog-posts-btn-grop {
  display: flex;
  justify-content: space-between;
}
.blog-posts-btn-grop .blog-posts-btn {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 40px;
  display: inline-block;
  color: #4b4b4b;
}

.btn-group-section {
  text-align: center;
  margin-bottom: 80px;
}
.btn-group-section .btn-group {
  display: inline;
  padding: 8px 20px;
  background-color: #ffffff;
  border-radius: 40px;
}
.btn-group-section .btn-group .btn {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  color: #4b4b4b;
}

.carousel-wrapper {
  position: relative;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
}

.custom-next {
  right: 0;
}

@media (max-width: 1440px) {
  .blog-detail-homepage .card {
    padding: 0;
    margin: 20px;
  }
  .card {
    max-width: 45%;
  }
  .presentation-about-cards {
    margin-left: 0;
  }
  .presentation-card {
    width: 50%;
    padding: 50px;
  }
  .presentation-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .presentation-about-card {
    padding: 40px 24px;
  }
  .presentation-about-card-up {
    margin-left: 0;
  }
  .presentation-about-card-down {
    margin-top: 0;
  }
}
@media (max-width: 1270px) {
  .card {
    max-width: 100%;
  }
  .service-card-left {
    flex-direction: column-reverse;
  }
  .service-card-left .textbox-left {
    margin-right: 0;
  }
  .service-card-right {
    flex-direction: column;
  }
  .service-card-right .textbox-right {
    margin-left: 0;
  }
  .service-card-left img,
  .service-card-right img {
    max-width: 80%;
  }
  .service-card-left .textbox,
  .service-card-right .textbox {
    max-width: 80%;
  }
}
@media (max-width: 1024px) {
  .service-cards {
    padding: 0;
  }
  .service-card-left img,
  .service-card-right img {
    max-width: 100%;
  }
  .service-card-left .textbox,
  .service-card-right .textbox {
    max-width: unset;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .presentation-card {
    width: 100%;
    padding: 50px;
  }
  .presentation-cards {
    flex-direction: column;
    align-items: center;
  }
  .presentation-about-card {
    padding: 40px 24px;
  }
  .title-index {
    font-size: 48px;
  }
}
@media (max-width: 414px) {
  nav {
    padding: 24px 60px;
  }
  nav a {
    font-size: 26px;
  }
}
.blog-homepage img {
  max-width: 50%;
}
.blog-homepage-text {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  width: 50%;
  padding: 300px 80px;
  color: #0027d5;
}
.blog-homepage-text-lg {
  font-size: 120px;
  margin-bottom: 12px;
}
.blog-homepage-text-sm {
  font-size: 28px;
}

.blog-subscription img {
  max-width: 50%;
}
.blog-subscription form {
  display: block;
}
.blog-subscription form .subscription-information-name,
.blog-subscription form .subscription-information-email {
  margin-bottom: 8px;
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  color: #4b4b4b;
}
.blog-subscription form .subscription-information-email {
  margin-bottom: 24px;
}
.blog-subscription form .subscription-information-submit {
  color: #0027d5;
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid #0027d5;
  background-color: #ffffff;
}
.blog-subscription .subscription {
  padding: 80px;
  background-color: #ffffff;
}
.blog-subscription-text {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  width: 50%;
  padding: 172px 80px;
}
.blog-subscription-text-lg {
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: 700;
}
.blog-subscription-text-sm {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
}
.blog-subscription-text-sm span {
  color: #0027d5;
}

.blog-contact {
  width: 100%;
}
.blog-contact-text-lg {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
}
.blog-contact-text-sm {
  font-weight: 500;
  font-size: 32px;
}
.blog-contact .border-bottom {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.blog-contact .border-bottom .textbox {
  display: flex;
}
.blog-contact .border-bottom i {
  position: relative;
}
.blog-contact .border-bottom i::before {
  font-family: "Font Awesome 5 Free";
  font-size: 28px;
}
.blog-contact img {
  max-width: 100%;
  width: unset;
  margin-right: 9px;
}

.blog-featured-posts .title-index {
  margin: 0 68px 24px 68px;
}
.blog-featured-posts .autoplay-w {
  margin: 0 auto;
  padding: 0 64px;
}

.about-card {
  padding: 80px 40px;
  background-color: #ffffff;
  max-width: 60%;
  margin-right: 5%;
  margin-top: -8%;
  position: relative;
  z-index: 1;
}
.about-card .icon img {
  max-width: 100%;
  width: unset;
}
.about-card .text {
  font-size: 28px;
  margin-bottom: 16px;
}

i {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: #0027d5;
  border-radius: 40px;
}

i::before {
  font-family: "Font Awesome 5 Free";
  font-size: 28px;
  color: #f1f1f1;
}

.learn-more {
  font-weight: 700;
  font-size: 28px;
  text-align: right;
  margin-top: 42px;
}
.learn-more i {
  border: 2px solid black;
  background-color: #ffffff;
}
.learn-more i::before {
  color: #000000;
}

.blog-contact i {
  border: none;
  background-color: #ffffff;
}
.blog-contact i::before {
  color: #000000;
}

.service-card-right .text,
.service-card-left .text {
  margin: 0;
  color: #4b4b4b;
}

.presentation-about img {
  max-width: 100%;
  padding: 24px;
  background-color: #ededed;
}

.presentation-cards img {
  max-width: 100%;
  width: unset;
  margin-bottom: 16px;
}

.blog-detail-homepage .card {
  max-width: 50%;
  padding: 80px 120px 80px 12px;
  display: flex;
  align-items: center;
  margin: 0;
}
.blog-detail-homepage img {
  max-width: 50%;
  padding-right: 12px;
}

.blog-detail .searchbox {
  padding: 16px 48px 16px 30px;
  margin: 40px 12px;
  border: 1px solid #4b4b4b;
  border-radius: 40px;
  color: #4b4b4b;
  font-size: 16px;
}
.blog-detail .magnifier {
  position: relative;
  display: inline-block;
}
.blog-detail .magnifier input {
  text-indent: 20px;
}
.blog-detail .magnifier:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 28px;
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.textbox .icon {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin: 18.75px 0;
}

.textbox .icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background-color: #0056d2;
  border-radius: 2px;
}

.presentation-about-card .icon {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.presentation-about-card .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #0056d2;
  border-radius: 2px;
}

footer .topbox img {
  max-width: 100%;
}
footer .topbox .email {
  font-size: 32px;
  font-weight: 500;
}

.m-t {
  margin-top: 8px;
}

.m-b {
  margin-bottom: 8px;
}

.f-c-black {
  color: #000000;
}

.copyright {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .presentation-about img {
    max-width: 60%;
  }
}
@media (max-width: 1024px) {
  .blog-homepage img {
    max-width: 100%;
  }
  .blog-homepage-text {
    width: 100%;
    padding: 24px 24px 36px 24px;
    text-align: center;
  }
  .p-24-200 {
    padding: 24px 24px 200px 24px;
  }
  .blog-detail-homepage .card {
    padding: 80px 12px;
    max-width: 100%;
    margin: 0;
  }
  .blog-detail-homepage img {
    max-width: 100%;
    padding-right: 0;
  }
  .blog-detail .searchbox {
    width: 95%;
    margin: 100px 12px 40px 12px;
  }
  .blog-detail .magnifier:before {
    top: 65%;
  }
  .container .about {
    justify-content: center;
  }
  .about-card {
    max-width: 100%;
    padding: 40px 24px;
    margin: -150px 12px 0 12px;
  }
  .blog-featured-posts .title-index {
    margin: 64px 0 24px 12px;
  }
  .blog-featured-posts .autoplay-w {
    margin: 0 auto;
    padding: 0 12px;
  }
  .blog-featured-posts .autoplay-btn {
    display: flex;
    justify-content: flex-end;
    margin: 32px 12px 64px 12px;
  }
  .blog-featured-posts .custom-prev,
  .blog-featured-posts .custom-next {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
  }
  .presentation-about img {
    max-width: 100%;
  }
  .blog-subscription img {
    max-width: 100%;
  }
  .blog-subscription-text {
    width: 100%;
    padding: 12px 12px;
  }
}
@media (max-width: 768px) {
  .blog-contact .border-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-contact-text-lg,
  .blog-subscription-text-lg {
    font-size: 48px;
  }
  .blog-contact-text-sm {
    font-size: 24px;
  }
}
@media (max-width: 414px) {
  .blog-homepage-text {
    color: #0027d5;
  }
  .blog-homepage-text-lg {
    font-size: 52px;
  }
  .blog-homepage-text-sm {
    font-size: 26px;
  }
  .copyright {
    font-size: 16px;
  }
}/*# sourceMappingURL=all.css.map */